<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= @user.email %>
    <%= @user.region %>
    <%= @user.password %>
  </div>
</div>


