<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= render "mainuser" %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%# TODO: カリキュラム8.5　ループ処理は↓ここでしている %>
        <%= render @microposts %>
        <%= paginate(@microposts) %>
      </ol>
    <% end %>
  </div>
</div>